@use 'mixins' as m;
@use 'variables' as v;

.archive__title{
    grid-column: 1 / 5;
    color: v.$bone;
}

.archive{
    background-color: v.$charcoal;
    color: v.$bone;
    
    &__item{
        color: v.$charcoal;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: v.$medium;
        border: 2px solid v.$charcoal;
        background-color: v.$bone;
        border-radius: v.$small;
        
        &__info{
            display: flex;
            gap: v.$small;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }

        &__category{
            -events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none; 
            user-select: none;
            cursor: default;
            margin: 0;
            padding: 0;
            font-size: v.$small;
        }
            
        &__description{
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none; 
            user-select: none;
            cursor: default;
            font-size: v.$small;
            padding: 0;
            margin: 0;
            font-weight: 300;
        }

        &__cta{
            margin-top: v.$small;
        }

        @include m.mobile() {
            grid-column: 1 / 5;
        }
        
    }
}

.article{
    background-color: v.$charcoal;
    color: v.$bone;

    &__text{
        p{
            font-size: 20px;
            line-height: 1.5;
            font-weight: 200;
        }
    } 
}
