@use 'mixins' as m;
@use 'variables' as v;

.form{
    display: flex;
    flex-direction: column;
    gap: v.$small;
    
    label{
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none; 
        user-select: none;
        cursor: default;
    }

    input, textarea{
        padding: v.$small;
        background: v.$bone;
        border: 2px solid v.$charcoal;
        border-radius: v.$small;
    }

    textarea{
        height: 128px;
        resize: none;

        &::placeholder{
            font-family: 'Geist', sans-serif;
        }
    }
    button{
        padding: v.$small;
        background-color: v.$charcoal;
        border: none;
        border-radius: v.$small;
        color: v.$bone;
        font-size: v.$small;
        &:hover{
            background-color: v.$clay;
            color: v.$charcoal;
        }
    }
}

.thanks, .error{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding: v.$medium;
    background-color: v.$bone;
    display: flex;
    flex-direction: column;
    gap: v.$medium;
    align-items: center;
    justify-content: center;
    a{
        padding: v.$small;
        background-color: v.$slate;
        border: none;
        border-radius: 4px;
        color: v.$charcoal;
        font-size: v.$small;
        text-decoration: none;
        text-align: center;
        &:hover{
            background-color: v.$charcoal;
            color: v.$bone;
        }
    }
}

.thanks{
    &__logo{
        width: 128px;
    }
    &__text-1{
        margin: 0;
        padding: 0;
        font-size: v.$medium;
        text-align: center;
    }
    &__text-2{
        margin: 0;
        padding: 0;
        font-size: v.$small;
        text-align: center;
    }
}
.error{
    &__logo{
        width: 128px;
    }
    &__text-1{
        margin: 0;
        padding: 0;
        font-size: v.$medium;
        text-align: center;
    }
    &__text-2{
        margin: 0;
        padding: 0;
        font-size: v.$small;
        text-align: center;
    }
}

.mb-2{
    margin-bottom: v.$small;
}

.popup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: v.$small;
}