@use 'hero';
@use 'lang';
@use 'participate';

@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    font-family: 'Geist', sans-serif;
    background: v.$bone;
    color: v.$charcoal;
    overflow-x: hidden;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}