@use 'hero';
@use 'lang';
@use 'participate';
@use 'archive';

@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    font-family: 'Geist', sans-serif;
    background: v.$bone;
    color: v.$charcoal;
    overflow-x: hidden;
}

main, section{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container-2{
    padding: 24px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
}

.mb-1{
    margin-bottom: 32px;
}

.mb-2{
    margin-bottom: 64px;
}