@use 'hero';
@use 'participate';
@use 'archive';

@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    font-family: 'Geist', sans-serif;
    background: v.$charcoalGray;
    color: v.$charcoal;
    overflow-x: hidden;
}

main, section{
    max-width: 1440px;
    margin: 0 auto;
    background-color: v.$bone;
}

.grid{
    padding: 0 v.$medium;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-2{
    padding: 0 v.$medium;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gapSmall{
    gap: v.$small;
}

.gapMedium{
    gap: v.$medium;
}

.flex{
    padding: 0 v.$medium;
    display: flex;
    flex-direction: column;
}

.verticalLayout{
    width: 100%;
    height: v.$medium;
}

h1{
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: v.$large;
    letter-spacing: -2.5%;
    line-height: 1;
    
    @include m.mobile {
        font-size: v.$big;
    }
}

h2{
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    cursor: default;
    font-weight: 400;
    font-size: v.$medium;
    margin: 0;
    padding: 0;
    letter-spacing: -2.5%;
    line-height: 1;
}

h3{
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 0;
    font-size: v.$big;
    font-weight: 400;
}

a{
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    font-size: v.$small;
    color: v.$charcoal;
    
    &:hover{
        color: v.$charcoalGray;
    }
}